body {
  margin: auto;
  padding: 0; 
  box-sizing: border-box; 
  /* display: block;   */
  font-family: 'Open Sans', sans-serif;
} 

#au-batido {
  background-image: url('images/au-batido.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  max-width: 600px; 

  }


h1, h2, h3, h4, h5, h6 {
font-family: 'Parisienne', cursive;
font-weight: normal;
text-align: center;
}

.content {
  text-align: left;
 }

#mentor {
  text-align: right;
}

.about-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  /* border-bottom: 0.063rem solid rgba(0,0,0,0.2);  */
  margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
  .about-tile {
    flex-direction: column;
    align-items: center;
  }
  .about-tile p {
    height: 300px;
  }
  .content {
    margin-right: 30px;
  }
}

.about-tile:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  width: 4%; /* Change this to whatever width you want to have before hover. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  /* border-bottom: 1px solid black; This creates the border. Replace black with whatever color you want. */
  transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.about-tile:hover:after {
  width: 15%; /* This will be the new width of your border when on hover */
}


/*
.bio p {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/
.bio p {
  
  max-width: 500px;
  height: 180px;
  padding: 10px;
}

.bio {
  list-style-type: none;
  padding-left: 0;
  border-bottom: 0.063rem solid rgba(0,0,0,0.2);
  margin-bottom: 4%;
}


.container {
  max-width: 960px;
  margin: 0 auto 60px auto;
  padding-top: 10px;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
/*  margin: 0 auto 2em; */
/*  display: block; */
}
/* NAVIGATION */
nav {
  width: 95%;
  margin: 0 auto;
  background: rgba(255,255,255,0);
  padding: 5px 0;
/*  box-shadow: 0px 5px 0px #dedede; */
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  font-size: small;
  text-transform: uppercase;
  margin: 0 5px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  text-decoration: none;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

#gday {
  margin-top: 25px;
  margin-bottom: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin-left: 0;
}


/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  width: 35px;
  /* align-items: center; */
  /* text-align: center; */
  text-decoration: none;
}

.fa-linkedin {
  background: rgba(255,255,255,0);
  color: #211F1F;
}

.fa-facebook {
  background: rgba(255,255,255,0);
  color: #211F1F;
  ;
}

.fa-youtube {
    background: rgba(255,255,255,0);
    color: #211F1F;
    ;
}

.fa-github {
      background: rgba(255,255,255,0);
      color: #211F1F;
}
.fa:hover {
  opacity: 0.7;
  transform: scale(2);
  transition: transform .2s;
}
